.post {
    display: flex;
    flex-direction: column;
    background: var(--gray-800);
    padding: 2.5rem;
    border-radius: 8px;
}

.autorPost {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.autorPost .time {
    color: var(--gray-400);
    font-size: 0.875rem;
}

.cabecario {
    display: flex;
    align-items: center;
    gap: 16px;
}

.avatar {
    box-sizing: initial;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 8px;
    border: 4px solid var(--gray-800);
    outline: 2px solid var(--green-500);
    object-fit: cover;
}

.autorInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 3px;
}

.autorInfo strong {
    font-size: 1rem;
}

.autorInfo span {
    font-size: 0.875rem;
    color: var(--gray-400);
}

.conteudo {
    display: flex;
    flex-direction: column;
    gap: 30px;
    line-height: 1.6;
    border-bottom: 1px solid var(--gray-600);
}

.conteudo .superTexto {
    color: var(--green-500);
    font-weight: bold;
    text-decoration: none;    
    margin-right: 1rem;
}

.conteudo .containerSuper{
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
}

.conteudo .containerSuper.superTexto {
    color: var(--green-500);
    font-weight: bold;
    text-decoration: none;
}

.conteudo .containerSuper .superTexto:hover,
.conteudo .superTexto:hover {
    color: var(--green-300);
}

.formComment {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}

.formComment > strong {
    margin-bottom: 1rem;
}

.formComment > textarea {
    height: 6rem;
    padding: 1rem;
    background: var(--gray-900);
    color: var(--white);
    margin-bottom: 1rem ;
    line-height: 1.4;
}

.formComment > button {
    width: 6.75rem;
    height: 3.0625rem;
    border: none;
    background: var(--green-500);
    color: var(--white);
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.formComment > button:hover {
    background: var(--green-300);
}